# Energy Consumption dataset

## Problem Statement
Aim: to know the effect of weather elements on energy consumption.

## Data Source
This data was downloaded from the UCI machine learning link:https://archive.ics.uci.edu/ml/machine-learning-databases/00374/

In [1]:
# library imports
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

In [2]:
# import of the dataset
daten = pd.read_csv('csv_Files/energydata_complete.csv')
daten.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [3]:
# dimension check
daten.shape

(19735, 29)

In [4]:
# check for missing values
daten.isnull().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

## Question 12
Fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the R^2 value in two d.p.

In [5]:
# column extract from the dataframe
x = daten[['T2']]
y = daten[['T6']]
x_t = daten[['rv1']]
y_t = daten[['rv2']]

In [6]:
# model fitt and prediction
linear_model = LinearRegression()
linear_model.fit(x,y)
model_pred = linear_model.predict(x_t)

In [7]:
# R^2 metrics check
r2_score = r2_score(y_t, model_pred)
round(r2_score,2)

-0.72

## Question 13

Normalize the dataset using the MinMaxScaler after removing the following columns: [“date”, “lights”]. The target variable is “Appliances”. Use a 70-30 train-test set split with a random state of 42 (for reproducibility). Run a multiple linear regression using the training set and evaluate your model on the test set. Answer the following questions:

What is the Mean Absolute Error (in two decimal places)?

In [8]:
# date and lights columns drop
daten1 = daten.drop(daten[['date','lights']], axis=1)
# data scaling (normalisation)
scale = MinMaxScaler()
norm_data = pd.DataFrame(scale.fit_transform(daten1), columns=daten1.columns)
norm_data

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.046729,0.327350,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.046729,0.327350,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.037383,0.327350,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.037383,0.327350,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.046729,0.327350,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,...,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,0.084112,0.926786,0.537657,0.711655,0.606309,0.830841,0.579374,0.864865,0.765258,0.752031,...,0.864724,0.729443,0.891747,0.602326,0.416667,0.238095,0.348718,0.901961,0.861981,0.861981
19731,0.074766,0.919747,0.536006,0.701769,0.607836,0.825302,0.582178,0.864865,0.765258,0.754897,...,0.864724,0.729443,0.887460,0.602326,0.421053,0.250000,0.361538,0.900452,0.985726,0.985726
19732,0.242991,0.919747,0.538666,0.692651,0.627198,0.818378,0.603988,0.864865,0.771233,0.754897,...,0.864724,0.729443,0.883173,0.602326,0.425439,0.261905,0.374359,0.898944,0.583979,0.583979
19733,0.383178,0.919747,0.549491,0.677054,0.634717,0.805085,0.585294,0.864865,0.773794,0.752031,...,0.864724,0.730581,0.878885,0.602326,0.429825,0.273810,0.387179,0.897436,0.126371,0.126371
19734,0.392523,0.919747,0.538758,0.666171,0.632902,0.799546,0.579062,0.864865,0.781192,0.752031,...,0.864724,0.731719,0.874598,0.602326,0.434211,0.285714,0.400000,0.895928,0.682391,0.682391

In [9]:
# extracting predictor and target variable
attrib_var = norm_data.drop(norm_data[['Appliances']], axis=1)
target_var = norm_data[['Appliances']]
# data splitting, modelling and prediction
x_train, x_test, y_train, y_test = train_test_split(attrib_var, target_var, test_size=0.3, random_state=42)
linear_model.fit(x_train, y_train)
mlr_pred = linear_model.predict(x_test)
# error check
MAE = mean_absolute_error(y_test, mlr_pred)
round(MAE,2)

0.05

## Question 14
What is the Residual Sum of Squares (in two decimal places)?

In [10]:
# residual sum of squares
RSS = np.sum(np.square(y_test - mlr_pred))
round(RSS,2)

Appliances    45.35
dtype: float64

## Question 15
What is the Root Mean Squared Error (in three decimal places)?

In [11]:
# root mean squared error
RMSE = np.sqrt(mean_squared_error(y_test, mlr_pred))
round(RMSE,3)

0.088

## Question 16
What is the Coefficient of Determination (in two decimal places)?

In [12]:
# Coefficient of Determination
R_square = 1 - (1-linear_model.score(x_train, y_train))*(len(y_train)-1)/(len(y_train)-x_train.shape[1]-1)
round(R_square, 2)

0.14

## Question 17
Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?

In [13]:
# feature weights of the above linear regression = coefficient of model
linear_model.coef_,attrib_var.columns

(array([[-0.00328105,  0.5535466 , -0.23617792, -0.45669795,  0.29062714,
          0.09604827,  0.028981  ,  0.02638578, -0.01565684,  0.01600579,
          0.23642491,  0.03804865,  0.01031878, -0.04461364,  0.10199505,
         -0.15759548, -0.18994077, -0.03980032, -0.32185967,  0.00683933,
         -0.07767065,  0.02918313,  0.01230661,  0.11775773,  0.0007701 ,
          0.0007701 ]]),
 Index(['T1', 'RH_1', 'T2', 'RH_2', 'T3', 'RH_3', 'T4', 'RH_4', 'T5', 'RH_5',
        'T6', 'RH_6', 'T7', 'RH_7', 'T8', 'RH_8', 'T9', 'RH_9', 'T_out',
        'Press_mm_hg', 'RH_out', 'Windspeed', 'Visibility', 'Tdewpoint', 'rv1',
        'rv2'],
       dtype='object'))

In [14]:
# putting the above answer into a dataframe
coef_df = pd.DataFrame(linear_model.coef_, columns=attrib_var.columns)
coef_df

,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,-0.003281,0.553547,-0.236178,-0.456698,0.290627,0.096048,0.028981,0.026386,-0.015657,0.016006,...,-0.189941,-0.0398,-0.32186,0.006839,-0.077671,0.029183,0.012307,0.117758,0.00077,0.00077

## Question 18
Train a ridge regression model with an alpha value of 0.4. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?

In [15]:
# Ridge regression model and accuracy check
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train,y_train)
rid_reg_pred = ridge_reg.predict(x_test)
ridge_rmse = np.sqrt(mean_squared_error(y_test, rid_reg_pred))
round(ridge_rmse, 3)

0.088

## Question 19
Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it. How many of the features have non-zero feature weights?

In [16]:
# feature weight/coefficient of the Lasso Regression model
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train,y_train)
lasso_reg.coef_

array([ 0.        ,  0.01787993,  0.        , -0.        ,  0.        ,
        0.        , -0.        ,  0.        , -0.        ,  0.        ,
        0.        , -0.        , -0.        , -0.        ,  0.        ,
       -0.00011004, -0.        , -0.        ,  0.        , -0.        ,
       -0.04955749,  0.00291176,  0.        ,  0.        , -0.        ,
       -0.        ])

## Question 20
What is the new RMSE with the lasso regression? (Answer should be in three (3) decimal places)

In [17]:
# RMSE for Lasso regression model
Las_reg_pred = lasso_reg.predict(x_test)
Lasso_rmse = np.sqrt(mean_squared_error(y_test, Las_reg_pred))
round(Lasso_rmse, 3)

0.094